# Usuario root de MongoDB
MONGO_ROOT_USER=admin

# Contraseña root
MONGO_ROOT_PASSWORD=SuperPassword123

# Nombre de la base por defecto
MONGO_DB_NAME=users_db

# Railway inyectará automáticamente esta:
# RAILWAY_PRIVATE_IP=xxx.xxx.xxx.xxx 
# (No necesitas definirla)
