# Configuración del Servidor
PORT=3007
NODE_ENV=development
CORS_ORIGIN=*

MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=password123
MONGO_IP=localhost
DB_NAME=plantgen_ag

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

